// ===============BODY===================

main {
  @include span-columns(12);
}

.hook {
  height: em(50);

  @include media($mobile-up) {
    height: auto;
  }
}


.hook p {
  font-size: em(20);
  padding: 11px 0 0;
  text-align: center;
  color: $dark-color;

  @include media($mobile-up) {
    padding: 40px 10px;
    font-size: em(15);
  }
}


section {
  @include span-columns(12);
  background: #fff;
}

.bicycle-pics {
  list-style-type: none;
  padding: 0;

  @include media($mobile-up) {
    width: 1440;
  }

  li {
    background: url(attr(id));
    display: inline-block;
    height: 300px;
    @include span-columns(4, block-collapse);

    @include media($mobile-up) {
      @include span-columns(4);
      &:last-of-type {
        width: auto;
      }
    }

    img {
      height: 300px;
      width: 100%;
      object-fit: cover;
    }
  }
}

.contact-info {
  font-size: 20px;
  margin: 15px 0 15px;
  text-align: center;
  height: 80px;
  background: $dark-color;
  padding: 30px;

  @include media($mobile-up) {
    @include span-columns(4);
    height: auto;
    font-size: 12px;
    margin: 0;
    padding-top: 55px;
  }
}


.phone {
  @include span-columns(6);
  text-align: center;
  margin-bottom: 15px;

  @include media($mobile-up) {
    @include span-columns(4);
    @include pad();
  }
}

.email {
  @include span-columns(6);
  text-align: center;
  margin-bottom: 15px;

  @include media($mobile-up) {
    @include span-columns(4);
    @include pad();
  }
}

.description {
  width: 90%;
  overflow: none;

  @include media($mobile-up) {
    width: 100%;
    overflow: auto;
    padding: 30px;
  }

}

.description p {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  font-size: 20px;
  border-bottom: solid $light-color 2px;

  @include media($mobile-up) {
    border: 0;
    width: 100%;
  }
}



/* ==========================================================================
   Google Maps CSS below:
   ========================================================================== */
.map_container {
  width: 100%;
  margin: 0 auto;

  @include media($mobile-up) {
    height: auto;
    padding-bottom: 40px;
    overflow: auto;
  }
}

#map_canvas {
  display: inline-block;
  height: 400px;
  width: 45%;
  margin: 20px;

  img {
    max-width: none;
  }

  @include media($mobile-up) {
    @include span-columns(2);
    @include shift(1);
    height: 200px;
    margin-top: 35px;
  }
}

#map_street_view {
  display: inline-block;
  height: 400px;
  width: 45%;
  margin: 20px;

  @include media($mobile-up) {
    display: none;
  }
}
