// ============= HEADER =================

header {
  position: relative;
  background: url(/images/bike-header.jpg), 50%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: $dark-color;
  font-weight: 900;
  overflow: hidden;
  height: 720px;

  @include media($mobile-up) {
    @include span-columns(4);
    background-attachment: scroll;
    height: 250px;
    position: relative;
  }

  h1 {
    font-size: em(65);
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 0 2px rgba(0, 5, 0, .94);
    margin-top: 100px;

    @include media($mobile-up) {
      position: absolute;
      bottom: -6px;
      display: block;
      font-size: em(25);
      margin: 0 auto;
      width: 80%;
    }
  }

  img {
    height: em(500px);
    margin-top: em(50px);

    @include media($mobile-up) {
      height: em(200);
      margin-top: 0;
    }
  }
}


.hook {
  height: em(50);
}

.hook p {
  font-size: em(20);
  padding: 11px 0 0;
  text-align: center;
  color: $dark-color;
}
