 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
// Custom Styles

$light-color: #E1C4BE;
$medium-color: #CC5456;
$dark-color: #661827;




body {
  color: $light-color;
}

.content {
  margin: 0 auto;
  width: 965px;
}

// ============= HEADER =================

header {
  background: url(/images/bike-header.jpg) 50%/cover;
  text-align: center;
  color: $dark-color;
  font-weight: 900;

  h1 {
    font-size: 60px;
  }

  img {
    height: 200px;
  }
}

// ===============BODY===================

section {
  background: $medium-color;
}

ul {
  list-style-type: none;
  padding: 0;

  li {
    background: url(attr(id));
    display: inline-block;
    height: 300px;
    width: 33%;

    img {
      height: 300px;
      width: 100%;
      object-fit: cover;
    }
  }
}

// ===============FOOTER=================

footer {
  background: $dark-color;
  text-align: center;
}

@media (max-width: 500px) {
  .bike-pic {
    display: none;

    &:first-child {
      display: block;
    }
  }
}
