 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import 'base/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
$light-color: #E1C4BE;
$medium-color: #CC5456;
$dark-color: #661827;

// Modules
@import 'header';
@import 'body';
@import 'footer';



body {
  color: $light-color;
}

.container {
  @include media($mobile-up) {
    @include outer-container;
  }
}

.content {
  @include column-span(12);
  margin: 0 auto;
  width: 965px;
  color: $dark-color;

  @include media($mobile-up) {
    @include span-columns(4);
    padding: 30px;
  }
}
