 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import 'base/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
$light-color: #E1C4BE;
$medium-color: #CC5456;
$dark-color: #661827;

// Modules
@import 'header';
@import 'body';
@import 'footer';



body {
  color: $light-color;
}

.content {
  margin: 0 auto;
  width: 965px;
}



